$green: #4CAF50;
$white: #FFFFFF;

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  font-family: Roboto;
}

button {
  padding: 5px 15px;
  border: none;
  border-radius: 3px;
}

.start {
  background: $green;
  color: $white;
}

.first {
  display: none;
}

input {
  padding: 4px;
  border: 1px solid $green;
  border-radius: 3px;
}

.result {
  display: none;
  padding: 5px 15px;
  border: 2px solid $green;
}
