header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;

  background: white;
  z-index: 1;
}

.top-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.top-link {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 100%;
}

.top-link a {
  padding: 10px;
  margin: 0 25px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;

  transition: 0.25s;
  
  text-decoration: none;
  color: #F56961;
}

.top-link:hover a:not(.logo) {
  border: 1px solid #F56961;
}

.logo {
  font-family: Sofia;
  font-size: 40px;
  text-transform: lowercase;
  transition: 0.25s;
}

.logo:hover {
  color: rgba(245, 105, 61, 0.55);
}

.vertical-line {
  height: 40px;
  border-left: 1px solid #E5E5E5;
}

@media (max-width: 750px) {
  
}
