header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

header a {
  padding: 10px;
  margin: 0 25px;
  text-decoration: none;
  color: #F56961;
}

.top-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo {
  font-family: Sofia;
  font-size: 40px;
  text-transform: lowercase;
  transition: 0.25s;
}

.logo:hover {
  color: rgba(245, 105, 61, 0.55);
}

.top-link {
  display: inline;
}

.top-link a {
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  transition: 0.25s;
}

.top-link:hover a {
  border: 2px solid #F56961;
  border-radius: 2px;
}

.vertical-line {
  height: 22px;
  border-left: 1px solid #E5E5E5;
}
